<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ジャケットコラ太郎</title>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <script>
      async function showLoading() {
        document.getElementById("loading").style.display = "block";
        document.getElementById("loading-background").style.display = "block";
      }

      window.onload = function () {
        document.getElementById("loading").style.display = "none";
        document.getElementById("loading-background").style.display = "none";
      };
    </script>
  </head>
  <body
    class="bg-gray-100 flex justify-center items-center flex-col text-center py-5"
  >
    <div
      id="container"
      class="w-full max-w-2xl p-5 bg-white rounded-lg shadow-lg overflow-hidden"
    >
      <header class="mb-5 text-center">
        <h1>
          <img
            src="{{ url_for('static', filename='logo.png') }}"
            alt="ジャケットコラ太郎ロゴ"
            class="max-w-xs w-full h-auto mx-auto"
          />
        </h1>
      </header>
      <main>
        <section id="instructions" class="mb-5 text-left">
          <p class="text-center">◎使い方◎</p>
          <ol class="list-inside list-decimal">
            <li>
              Spotifyでコラージュ画像を作りたいプレイリストのURLをコピーします。
            </li>
            <li>コピーしたURLを下の入力欄に貼り付けます。</li>
            <li>「作成する」ボタンを押します。</li>
            <li>コラージュ画像が生成されて表示されます。</li>
          </ol>
        </section>
        <section id="form-section" class="bg-gray-50 p-5 rounded-lg shadow-md">
          <form
            method="POST"
            onsubmit="showLoading()"
            class="flex flex-col items-center w-full"
          >
            <label for="playlist_url" class="font-bold text-gray-600 mb-2"
              >プレイリストのURLを入力してね。</label
            >
            <input
              type="text"
              id="playlist_url"
              name="playlist_url"
              required
              class="w-full p-3 mb-5 border border-gray-300 rounded-md text-lg"
            />
            <div class="radio-group text-left w-full mb-3">
              <div>
                <input
                  type="checkbox"
                  id="shuffle"
                  name="shuffle"
                  class="mr-2"
                  {%
                  if
                  shuffle
                  %}checked{%
                  endif
                  %}
                />
                <label for="shuffle" class="text-gray-700"
                  >ランダムに並び替える</label
                >
              </div>
              <div class="check mt-4">
                <input
                  type="checkbox"
                  id="remove_duplicates"
                  name="remove_duplicates"
                  class="mr-2"
                  {%
                  if
                  remove_duplicates
                  %}checked{%
                  endif
                  %}
                />
                <label for="remove_duplicates" class="text-gray-700"
                  >重複を除く</label
                >
              </div>
            </div>
            <button
              type="submit"
              class="fancy-button px-5 py-3 mt-4 bg-blue-600 text-white rounded-full text-lg shadow-md transition-transform transform hover:bg-blue-700 hover:-translate-y-1"
            >
              作成する
            </button>
          </form>
        </section>
        <div
          id="loading-background"
          class="fixed inset-0 bg-black bg-opacity-50 z-10 hidden"
        ></div>
        <div
          id="loading"
          class="fixed inset-0 flex items-center justify-center h-screen text-white text-4xl font-bold z-20 hidden"
        >
          作成中・・・
        </div>

        {% if mosaic_image_url %}
        <section id="output-section" class="mt-5">
          <h2 class="text-2xl text-gray-700 mb-2">プレイリスト情報</h2>
          <p>
            <strong>プレイリスト名:</strong>
            <a
              href="{{ playlist_link }}"
              target="_blank"
              class="text-blue-600 hover:underline"
              >{{ playlist_name }}</a
            >
          </p>
          <p><strong>作成者:</strong> {{ playlist_owner }}</p>
          <img
            src="{{ mosaic_image_url }}"
            alt="Collage Image"
            class="output-img mt-5 border border-gray-300 rounded-lg shadow-md max-w-xs w-full h-auto mx-auto"
          />
        </section>
        {% endif %}
      </main>
    </div>
  </body>
</html>
